.bottom-div {
    margin: 4%;
      position: absolute;
      bottom: 30px;
      min-width: 12vw;
  }
  .new_task{
    margin: 2%;
      padding: 2%;
      display: flex;
      flex-direction: column;
      
      align-content: center;
      justify-content: center;
      color: white;
     width: 75%;
     height: 60px;
     background-color: #8280ff;
     border-radius: 8px;
     
  }
  .button-class{
    margin: 4px;
  }

  .new_task:hover{
    background-color: #b3b2fc ;
  }
  
  .new_task button{
      border: none;
      font-size: 20px;
      background: none;
      color: white;
      
  }
.userid{
    border-radius: 4px;
    border: thin;
    border-color: black;
    padding: 2%;
    
}
.user_card{
  padding: 2%;
  width: 75%;
  height: 4vh;
  border-radius: 8px;
  border-top-color: #edc4c0;
  border-left-color: #8f91ba;
  border-bottom-color: #e9c8c1;
  border-right-color: #e7c6bf;
  box-shadow: #e8ebec;
  border-style:groove;

}
.user_card p{
  text-align: center;
  margin: 2%;
  padding: 3%;
  font-size: clamp(0.7rem, 1.5vw, 0.8rem);

}
@media(max-width: 978px){
    .user_card{
        padding: 2%;
  width: 120%;
  height: 4vh;
  border-radius: 8px;
  border-top-color: #edc4c0;
  border-left-color: #8f91ba;
  border-bottom-color: #e9c8c1;
  border-right-color: #e7c6bf;
  box-shadow: #e8ebec;
  border-style:groove;
        
    }
    .new_task{
        margin: 4%;
          padding: 2%;
          display: flex;
          flex-direction: column;
          
          align-content: center;
          justify-content: center;
          color: white;
         width: 120%;
         height: auto;
         background-color: #8280ff;
         border-radius: 8px;
         
      }
}