.main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 2%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box; 
    gap: 0px;
}

.description {
    flex: 1 1 60%;
    min-width: 100px;
}

.description button {
    padding: 5px;
    color: white;
    background-color: #9e9bf7;
    height: auto;
    width: auto;
    max-width: 100px;
    border-radius: 15px;
    margin: 5px 0;
}

.description-image {
    flex: 1 1 40%;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-image img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

#description-body {
    font-size: clamp(1rem, 2vw, 1.2rem);
}

#descriptive-text {
    font-size: clamp(0.7rem, 1.5vw, 0.8rem);
}

@media (max-width: 768px) {
    .main-div {
        flex-direction: column;
        height: auto;
    }

    .description {
        width: 100%;
        text-align: center;
    }

    .description-image {
        width: 100%;
        margin-top: 10px;
    }

    .description button {
        width: 50%;
        margin: 10px auto;
    }
}
